name: .NET Core
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    
jobs:
  build:  
    environment: LOCAL_FROM_EXTERNAL_NETWORK
    permissions:
      contents: write
    runs-on: ubuntu-latest
    name: Build on push  
    env:
      MY_EXTERNAL_IP: ${{secrets.MY_EXTERNAL_IP}}
      BROWSERSTACK_AUTOMATE_KEY: ${{secrets.BROWSERSTACK_AUTOMATE_KEY}}
      BROWSERSTACK_USERNAME: ${{secrets.BROWSERSTACK_USERNAME}}
      DOTNET_CLI_TELEMETRY_OPTOUT : ${{secrets.DOTNET_CLI_TELEMETRY_OPTOUT}}
    steps:
    - uses: actions/checkout@v5
    - name: Start Selenium Grid    
      uses: Xotabu4/selenoid-github-action@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.x'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore --verbosity minimal
    - name: Test      
      continue-on-error: true
      run: dotnet test --no-restore --verbosity minimal
    - name: check if report files are generated
      run: ls /home/runner/work/SpecFlowWebDriver/SpecFlowWebDriver/SpecFlowWebDriver/Report
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        publish_dir: SpecFlowWebDriver/Report
        github_token: ${{ secrets.GITHUB_TOKEN }}
